# Visual Studio Generated.
.vs
*.sln
*.vcxproj
*.vcxproj.*
Debug
Release
Win32

# Unix Makefile Generated.
Makefile
*.a
*.so

# CMake Generated.
*.dir
CMakeFiles
cmake_install.cmake
CMakeCache.txt
